@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  color: #fff;
  font-family: "Inter", sans-serif;
  background-color: #6843d6;
}
.nav {
  padding: 4rem;
}
/* NAV */
.nav-logo {
  width: 100%;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #eee;
  transition: all 0.3s;
  font-weight: 600;
}
.nav-link:hover,
.nav-link:active {
  color: #fff;
}
