@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  color: #fff;
  font-family: "Inter", sans-serif;
  background-color: #6843d6;
}

.container {
  display: grid;
  grid-template-columns: 20fr 50fr 30fr;
  justify-items: center;
  height: 100vh;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
}

/* MAIN APP */
.main-app {
  background-color: #212529;
  padding: 4rem;
  width: 100%;
  text-align: center;
}
.welcome-app {
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.time-now {
  font-size: 2rem;
  margin-right: 12rem;
  width: 5rem;
}
.welcome-text {
  font-size: 4rem;
  letter-spacing: 1px;
}
.welcome-question {
  font-size: 3.2rem;
  color: #bbb;
}
.task-input {
  width: 75%;
  padding: 3rem 1rem;
  font-size: 1.8rem;
  font-family: inherit;
  border-radius: 9px;
  border: none;
  background-color: #495057;
  color: #fff;
}
.btn-add {
  padding: 3.2rem 2rem 3.1rem 2.4rem;
  margin-left: -7.8rem;
  border-radius: 0 9px 9px 0;
  border: none;
  background-color: #6843d6;
  color: #fff;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.tasks-list {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
  flex-direction: column;
  gap: 2rem;
}
.task-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tasks-list-item {
  width: 75%;
  font-size: 2rem;
  padding: 3.2rem 2rem 3.1rem 2.4rem;
  background-color: #6843d6;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;

  transition: all 0.3s;
}

.tasks-list-item:active {
  opacity: 0.5;
  background-color: #adb5bd;
  border: 2px dashed #fff;
  cursor: grabbing;
}
.task-after {
  background-color: #fff;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  cursor: pointer;

  transition: all 0.3s;
}
.tasks-list-item-finished {
  text-decoration: line-through;
  color: #adb5bd;
}
.task-after-finished {
  background-color: #495057;
}
